.header {
	padding-top: 50px;
	padding-bottom: 20px;
	background: center center no-repeat;
	background-image: url('../img/react-logo.png');
	@media (max-width: 767px) {
		background-image: url('../img/vue_logo.png');
	}

	&__logo {
		width: 250px;
		img {
			max-width: 100%;
			object-fit: cover;
		}
	}
}
